        body {
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #D8D1C8;
        }
        #imageArea {
            position:fixed;
            background-color: #ffffff;
            border: 2px solid black;
            top:50%;
            left:75%;
            transform:translate(-50%, -50%);
            display:none;

        }
        #reference {
            position:fixed;
            background-color: #ffffff;
            border: 2px solid black;
            top:50%;
            left:25%;
            transform:translate(-50%, -50%);
            display:none;
        }

        #fileOpener{
            position:absolute;
            width:100%;
            height:100%;
            left:0%;
            top:0%;
            z-index: 100;
            transition: 1s;
        }

        
        #file1{
            position:fixed;
            top:50%;
            left:25%;
            transform:translate(-50%, -50%);
            height: 50%;
            width: 35%;
            background-color:#333333;
            border-radius:35px;
            corner-shape: squircle;
            content: '';
            overflow:hidden;
            z-index:101;
            box-shadow: 0px 0px 1px 1px #abdf901a;
            font-size: 25vw;
        }

        #file2{
            position:fixed;
            top:50%;
            left:75%;
            transform:translate(-50%, -50%);
            height: 50%;
            width: 35%;            
            background-color:#333333;
            border-radius:35px;
            corner-shape: squircle;
            content: '';
            overflow:hidden;
            z-index: 101;
            box-shadow: 0px 0px 1px 1px #abdf901a;
            
            font-size: 25vw;
        }


        .pulse{
            animation: pulsify 2s linear infinite;
        }
        .showImage{
            background-size: cover;
            background-position: center;
            opacity: 0.2;
            color:black;
        }
        #wordsInside1{
           pointer-events:none;
             pointer-events:none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size:25px;
            margin:0;
            padding:0;
            width:100%;
            text-align:center;
            color:white;
        }
        #wordsInside2{
            pointer-events:none;
             pointer-events:none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size:25px;
            margin:0;
            padding:0;
            width:100%;
            text-align:center;
            color:white;
        }

        @keyframes pulsify{
            0% {
                box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
            }
            100% {
                box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
            }
        }


        #preview1{
            position:absolute;
            pointer-events:none;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            width:100%;
            height:100%;
            margin: 0;

        }
        #preview2{
            position:absolute;
            pointer-events:none;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            width:100%;
            height:100%;
            margin:0;

        }

        #cancel1{
            background:none;
            color:red;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            height:100%;
            width:100%;
            z-index: 9999;
            margin: 0;

        }
        #cancel2{
            background:none;
            color:red;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            height:100%;
            width:100%;
            z-index:9999;
            margin:0;


        }

        .cancelButtonInactive{
            font-size: 1em;
            opacity: 0;
            pointer-events:none;
        }
        .cancelButtonActive{
            font-size: 1em;
            pointer-events: auto;
            opacity: 0;
            transition: 1s;
        }
        .cancelButtonActive:hover{
            font-size: 1em;
            opacity:1;
            transition:1s;
        }

        
        #startImages{
            position:absolute;
            top:50%;
            left: 30%;
            transform:translate(-50%, -50%);
            z-index: 300;
            width: 20%;
            margin:0;
            height:100%;
            background:none;
            color:white;
            border: solid;
            border-color:white;
            border-width: 0px 1px 0px 1px;
        }

         #downloadButton{
            position:absolute;
            top:50%;
            left: 70%;
            transform:translate(-50%, -50%);
            z-index: 300;
            width: 20%;
            margin:0;
            height:100%;
            background:none;
            color:white;
            border: solid;
            border-color:white;
            border-width: 0px 1px 0px 1px;
        }

        #openFileDropper{
            position:absolute;
            top:50%;
            left: 10%;
            transform: translate(-50%, -50%);
            z-index: 300;
            width: 20%;
            margin:0;
            height:100%;
            border-radius:15px 0px 0px 0px;
            background:none;
            color:white;
            border: solid;
            border-color:white;
            border-width: 0px 1px 0px 1px;
        }

        #runAnimation{
            position:absolute;
            top:50%;
            left: 50%;
            transform:translate(-50%, -50%);
            z-index: 300;
            width:20%;
            height:100%;
            background:none;
            margin:0;
            color:white;
            border: solid;
            border-color:white;
            border-width: 0px 1px 0px 1px;
            padding: 0;
        }

        #restart{
            position:absolute;
            top:50%;
            left: 90%;
            transform:translate(-50%, -50%);
            z-index: 300;
            width: 20%;
            margin:0;
            height:100%;
            border-radius: 0px 15px 0px 0px;
            background:none;
            color:white;
            border: solid;
            border-color:white;
            border-width: 0px 1px 0px 1px;
        }

        #controlPanel{
            position:fixed;
            top:92.5%;
            left:50%;
            transform:translate(-50%, -50%);
            width:100%;
            height:15%;
            margin:0;
            border-radius: 15px 15px 0px 0px;
            background-color:#333333;
            z-index: 200;
            padding:0;
        }

        #controlPanelTitle{
            position: absolute;
            left:50%;
            top: -15%;
            transform:translate(-50%, -50%);
            height: 25%;
            width:25%;
            background-color: #333333;
            border-radius: 15px 15px 0px 0px;
            color:white;
            text-align: center;

        }

        #noClick1{
            position:absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            width:100%;
            height: 100%;
            z-index:400;
            border-radius: 15px 0px 0px 0px;
        }
        
        #noClick2{
            position:absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            width:100%;
            height: 100%;
            z-index:500;
        }

        #noClick3{
            position:absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            width:100%;
            height: 100%;
            z-index:400;
        }
        #noClick4{
            position:absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            width:100%;
            height: 100%;
            z-index:400;
        }
        #noClick5{
            position:absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            width:100%;
            height: 100%;
            z-index:400;
            border-radius: 0px 15px 0px 0px;
        }

        .clicked{
            background-color: black;
            opacity: 0.4;
            cursor: default;
        }
        .noClicked{
            z-index: 200;
            background-color:none;
            opacity: 0;
            cursor: pointer;
        }

        #show1{
            position:absolute;
            content: '';
            z-index:400;
            left: 90%;
            top: 20%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        #show2{
            position:absolute;
            content: '';
            z-index:400;
            left: 80%;
            top: 20%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        .red{
            background-color: red;
        }
        .green{
            background-color: green;
        }

        #loadBar{
            position:absolute;

            top: 20%;
            left: 50%;

            transform:translate(-50%, -50%);

            height: 10%;
            width: 75%;

            border-radius: 15px;

            background-color: gray;

            z-index: 300;

            overflow:hidden;

        }

        #loadBarGreen{
            position:absolute;
            content: '';
            
            height: 100%;
            width: 100%;

            top:50%;
            left: -50%;

            border-radius: 15px;

            transform:translate(-50%, -50%);
            background-color: green;


        }

        #mainContainer{
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            padding: 0;
            margin: 0;
            transition: 1s;
        }

        #startingScreen{
            left: 0;
            top: 0%;
            height: 100%;
            width: 100%;
            position: fixed;
            font-size: 5vw;
            transition: 1s;
            margin: 0;
            padding: 0;
        }
        #welcomeTitle{
            left: 28%;
            top: 50%;
            width: 20%;
            text-align: center;
            padding: 0;
            margin: 0;
            font-size: 1em;
            position: absolute;
            color: white;
        }
        #name{

            top: 50%;
            left: 50%;
            text-align: left;
            padding: 0;
            width: 30%;
            margin: 0;
            font-size: 1em;
            position: absolute;
            background: none;
            border: none;
            border-bottom: 0.05em solid #333333;
            color:white;
        }
        #name::placeholder{
            color: #333333;
            opacity: 0.2;
        }

        #choices{

            position: fixed;
            top: 37.5%;
            left: 20%;
            height: 25%;
            width: 60%;
            background-color: #333333;
            border-radius: 35px;
            font-size: 2em;
            transition: 1s;
        }

        #work{
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%, -50%);
            height: 50%;
            width: 35%;
            border-radius: 35px;
            border: none;
            background-color: #D8D1C8;
            font-size: 1em;

        }

        #anotherPage{
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
            height: 50%;
            width: 35%;
            border-radius: 35px;
            border:none;
            background-color:#D8D1C8;
            font-size: 1em;
            
        }

        #goAway{
            position:fixed;
            color:white;
            border:none;
            background-color: #333333;
            top: 5%;
            left:5%;
            height: 5%;
            width: 15%;
    
            border-radius: 35px;
            z-index: 500;
            transition: 1s;
        }

        /* This is the move animation */
        .move{
            transform: translateX(150%);
        }
        .moveTitleScreen{
            transform: translateY(-40%);
        }
        .moveOut{
            transform: translateX(-150%);
        }
    
        #canvasContainer{
            position: absolute;
            width: 100%;
            height: 100%;
        }
